DB_HOST=dbhost
DB_PORT=dbport
DB_NAME=dbname
DB_USER=dbuser 
DB_PASS=changeme 
SECRET_KEY=changeme
ALLOWED_HOSTS=127.0.0.1
TWILIO_ACCOUNT_SID=twiliosid
TWILIO_AUTH_TOKEN=twiliotoken
TWILIO_CALLER_ID=twilioid 
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=changeme
DEBUG=0