DB_HOST=dbhost
DB_PORT=3306
DB_NAME=dbname
DB_USER=dbuser 
DB_PASS=dpaswd

DJANGO_SECRET_KEY=secrett
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost

TWILIO_ACCOUNT_SID=id
TWILIO_AUTH_TOKEN=token
TWILIO_CALLER_ID=number

EMAIL_HOST=mailhost
EMAIL_PORT=milhostport
EMAIL_USE_SSL=False
#EMAIL_USE_TLS=True
EMAIL_HOST_USER=loginuser
EMAIL_HOST_PASSWORD=loginpasswd

DEFAULT_FROM_EMAIL=emailadress
DOMAIN=mydomain
ACME_DEFAULT_EMAIL=emailadress

SESSION_COOKIE_AGE=6000