Django>=4.0
uWSGI>=2.0.18,<2.1
mysqlclient
mysql-connector-python
Pillow
xlwt

#django-table-sort
#django-tables2

django-two-factor-auth
django-two-factor-auth[phonenumbers]
#twilio

django-bootstrap-form