body {
  background-color: black ;
}

h1, h2, h3 {
  color: #0d6efd;
  text-align: center;
}

.smit-h2 {
  color: blue;
  text-align: left;
}

h7 {
color: blue;
text-align: center;
font-size: 10px;  
}

.smit-header {
  color: blue;
  text-align: left; 
  font-size: 13px;  
}
.smit-line {
  color: blue;
  text-align: left; 
  font-size: 12px;  
}

.smit-about {
  color: blue;
  font-size: 30px;  
  font-weight: bolder;
  text-align: center; 
}

.smit-todo {
  color: red;
  text-align: center; 
}

.smit-log {
  text-align: left;
  font-size: 12px;  
}
