{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}

{% if request.user|has_group:"Admin"%}
{% csrf_token %}
<h2 class='container-fluid smit-h2'>Gebied</h2>

<ul> 
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allGebied">Alle gebieden</a>
  </div>

  <!--
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamGebied">Zoek op naam</a>
  </div>
  -->
 
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/createGebied">Voeg gebied toe</a>
  </div>
  <hr>
</ul>
{% endif %}
{% endblock %}