{% extends "base.html" %}
{% block content %}

{% if title %}
     <h2 class='container col text-center'>{{ title }}</h2>     
{% endif %}

<div class="form-group">
    <form method='POST' action ="" enctype='multipart/form-data'>   
        <div class="form-row text-center">
            <button type="submit" class="btn btn-success">Indienen</button>
        </div>
        <hr>
        {% csrf_token %}
        <!--- {{ form.media }} --->
        {{ form.as_p }}
        <hr>
        <div class="form-row text-center">
            <button type="submit" class="btn btn-success">Indienen</button>
        </div>
    </form>
</div>
{% endblock %}