{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
{% load static %}

<form action="/camera/zNaamVideo" method="GET">
  {% csrf_token %}
  <div class="row form-inline">
    
    <div class="col-2">
      <h3>Video</h3> 
    </div>

    <div class="form-group col-2">
      <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Naam">
    </div>

    <div class="form-group col-1">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>
    
    <div class="form-group col-1">
      <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
    </div>
  </div>
</form>

{% if query %}
{% if page_obj %}
 <table class="table table-hover table-sm"> 
  <thead class="smit-header">
      <tr>
        <th scope="col">Naam</th>
        <th scope="col">Serviceorder</th>
        <th scope="col">Camera</th>
        <th scope="col">Locatie</th>
        <th scope="col">Plaats</th>
        <th scope="col">Opname van</th>
        <th scope="col">Tijdsduur</th>
        <th scope="col">Acties</th>
      </tr>
    </thead>
   
    <tbody>
      {% for video in page_obj %}
      <tr class="smit-line">
         <td> {{video.naam}} </td>
         <td> {{video.ordernr}} </td>
         <td> {{video.camera.naam}} </td>
         <td> {{video.camera.locatie.naam}} </td>
         <td> {{video.camera.plaats}} </td>
         <td> {{video.opname_van}} </td>
         <td> {{video.duration}} </td>
         {% if video.video_image %}
            <td><img src="{{ video.video_image.url }}"  width="50" height="50"> </td>
          {% else %}
            <td><img src="{%static 'images/stadgenoot.jpg' %}" width="50" height="50"> </td>
            <!--- <td><img src="{%static 'images/smit-logo.png' %}" width="50" height="50"> </td> -->
          {% endif %}
         <td><a class="btn btn-sm btn-success" href="{% url 'playVideo' video.id %}">Play</a></td>
         <td><a class="btn btn-sm btn-info" href="{% url 'editVideo' video.id %}">Edit</a></td>
         <td><a class="btn btn-sm btn-danger" href="{% url 'deleteVideo' video.id %}">Delete</a></td>
      </tr>
      </tbody> 
     {% endfor %}
    </table>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; eerste</a>
              <a href="?page={{ page_obj.previous_page_number }}">vorige</a>
          {% endif %}
  
          <span class="current">
              Pagina {{ page_obj.number }} van {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">volgende</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">laatste &raquo;</a>
          {% endif %}
      </span>
    </div>

    {% else %}
      <strong>Er zijn geen entries</strong>
    {% endif %}
{% endif %}
{% endblock %}