{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-9">
      <h2>Gebruiker</h2> 
    </div>
   
    <div class="col-1">
      <a class="btn btn-sm btn-dark" href="{% url 'exportGebruiker' %}">Export </a>
    </div>
    <!--
    <div class="col-1">
    <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="history.back()">
    </div>
    -->

  <div class="col-1">
    <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
  </div>
  </div>
</div>

<table class="table table-hover table-sm">
  <thead class="smit-header">
    <tr>
      <!-- <th scope="col">#</td> -->
      <th scope="col">Naam</td>
      <th scope="col">User</td>
      <th scope="col">Email</td>
      <th scope="col">Telefoon</td>
      <th scope="col">Soort</td>
      <th scope="col">Acties</td>
    </tr>
  </thead>
  <!--- <h3>Resultaat for "{{ query|escape }}":</h3> --->
  {% if results %}
  <tbody>
    {% for gebruiker in results %}
    <tr class="smit-line">
       <!-- <th scope="row">{{contact.id}}</td> -->
       <td> {{gebruiker.naam}} </td>
       <td> {{gebruiker.user}} </td>
       <td> {{gebruiker.email}} </td>
       <td> {{gebruiker.telefoon}} </td>
       <td> {{gebruiker.soort}} </td>
       <td><a class="btn btn-sm btn-info" href="{% url 'editGebruiker' gebruiker.id %}">Edit</a></td>
       <td><a class="btn btn-sm btn-danger" href="{% url 'deleteGebruiker' gebruiker.id %}">Delete</a></td>
      </tr>
    </tbody> 
   {% endfor %}
  </table>
  {% else %}
    <strong>Er zijn geen entries</strong>
  {% endif %}
 </div>
{% endblock %}