{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-9">
      <h2>Videos</h2> 
    </div>
   
    <div class="col-1">
      <a class="btn btn-sm btn-dark" href="{% url 'exportVideo' %}">Export </a>
    </div>
   
   <div class="col-1">
    <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="history.back()">
  </div>

  <div class="col-1">
    <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
  </div>

</div>
<br>
<table class="table">
  <thead class="text-primary" >
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Naam</th>
      <th scope="col">Camera</th>
      <th scope="col">Locatie</th>
      
      <th scope="col">Record van</th>
      <th scope="col">Record tot</th>
    </tr>
  </thead>
  {% if results %}
  <tbody>
    {% for video in results %}
       <th> {{video.ordernr}} </th>
       <th> {{video.naam}} </th>
       <th> {{video.camera}} </th>
       <th> {{video.opname_van}} </th>
       <th> {{video.opname_tot}} </th>
       <th scope="col">Acties</th>
       <th><a class="btn btn-sm btn-success" href="{% url 'playVideo' video.id %}">Play</a></th>
       <!--<th><a class="btn btn-sm btn-secondary" href="{% url 'downloadVideo' video.id %}">Download</a></th> -->
       <!--<th><a class="btn btn-sm btn-primary" href="{% url 'convertVideo' video.id %}">Convert</a></th> -->
       <th><a class="btn btn-sm btn-info" href="{% url 'editVideo' video.id %}">Edit</a></th>
       <th><a class="btn btn-sm btn-danger" href="{% url 'deleteVideo' video.id %}">Delete</a></th>
    </tbody> 
   {% endfor %}
  </table>
  {% else %}
    <strong>Thera are no entries</strong>
  {% endif %}

 </div>
{% endblock %}