{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-9">
      <h2>Locatie</h2> 
    </div>
   
    <div class="col-1">
      <a class="btn btn-sm btn-dark" href="{% url 'exportLocatie' %}">Export </a>
    </div>
    <!--
    <div class="col-1">
    <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="history.back()">
    </div>
    -->
  <div class="col-1">
    <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
  </div>
  </div>
</div>
<br>
<table class="table">
  <thead class="text-primary" >
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Locatie</th>
      <th scope="col">Adres</th>
      <th scope="col">Bedrijf</th>
      <th scope="col">Contact</th>
      <th scope="col">Telefoon</th>
      <th scope="col">Acties</th>
    </tr>
  </thead>
  <!--- <h3>Resultaat for "{{ query|escape }}":</h3> --->
  {% if results %}
  <tbody>
    {% for locatie in results %}
       <th> {{locatie.naam}} </th>
       <th> {{locatie.adres.naam}} </th>
       <th> {{locatie.bedrijf.naam}} </th>
       <th> {{locatie.contact.naam}} </th>
       <th> {{locatie.contact.telefoon}} </th>
       <th><a class="btn btn-sm btn-info" href="{% url 'editLocatie' locatie.id %}">Edit</a></th>
       <th><a class="btn btn-sm btn-danger" href="{% url 'deleteLocatie' locatie.id %}">Delete</a></th>
    </tbody> 
   {% endfor %}
  </table>
  {% else %}
    <strong>Er zijn geen entries</strong>
  {% endif %}
 </div>
{% endblock %}