{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}

<div class="container-fluid">
  {% csrf_token %}
  <div class="row align-items-end">
    <h2 class="col-10 smit-h2">Service order</h2> 
   
    <div class="col-1">
      <a class="btn btn-sm btn-dark" href="{% url 'exportOrder' %}">Export </a>
    </div>

  <div class="col-1">
    <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
  </div>
  </div>
</div>

{% if page_obj %}
<table class="table table-hover table-sm">
  <thead class="smit-header">
    <tr>
      <!-- <th scope="col">#</td> -->
        <th scope="col">Bedrijf</td>
        <th scope="col">Contact</td>
        <th scope="col">OrderNr</td>  
        <th scope="col">Geopend</td>
        <th scope="col">Gesloten<td></td>    
        <th scope="col">Acties</td>
    </div>
    </tr>
  </thead>
  <tbody">
    {% for order in page_obj %}
    <tr class="smit-line">
       <td> {{order.bedrijf}} </td>
       <td> {{order.contact}} </td>
       <td> {{order.ordernr}} </td>  
       <td> {{order.opened}} </td>
       <td> {{order.closed}} </td> 
       
       <td><a class="btn btn-sm btn-info" href="{% url 'editOrder' order.id %}">Edit</a></td>
       <td><a class="btn btn-sm btn-danger" href="{% url 'deleteOrder' order.id %}">Delete</a></td>
     </tr>
    </tbody>  
   {% endfor %}
  </div>
 </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; eerste</a>
            <a href="?page={{ page_obj.previous_page_number }}">vorige</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} van {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">volgende</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">laatste &raquo;</a>
        {% endif %}
    </span>
  </div>
  {% else %}
    <strong>Er zijn geen entries</strong>
  {% endif %}

 </div>
{% endblock %}