{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-9">
      <h2>Wijken</h2> 
    </div>
   
    <div class="col-1">
      <a class="btn btn-sm btn-dark" href="{% url 'exportWijk' %}">Export </a>
    </div>
   
   <div class="col-1">
    <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="history.back()">
  </div>

  <div class="col-1">
    <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
  </div>
  </div>
</div>
<br>
<table class="table">
  <thead class="text-primary" >
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Naam</th>
      <th scope="col">Plaats</th>
      <th scope="col">Bedrijf</th>
      <th scope="col">Contact</th>
      <th scope="col">Akties</th>
    </tr>
  </thead>
  <!--- <h3>Resultaat for "{{ query|escape }}":</h3> --->
  {% if results %}
  <tbody>
    {% for wijk in results %}
       <!-- <th scope="row">{{contact.id}}</th> -->
       <th> {{wijk.naam}} </th>
       <th> {{wijk.plaats}} </th>
       <th> {{wijk.bedrijf.naam}} </th>
       <th> {{wijk.contact.naam}} </th>
   
       <th><a class="btn btn-sm btn-info" href="{% url 'editWijk' wijk.id %}">Edit</a></th>
       <th><a class="btn btn-sm btn-danger" href="{% url 'deleteWijk' wijk.id %}">Delete</a></th>
    </tbody> 
   {% endfor %}
  </table>
  {% else %}
    <strong>Thera are no Wijken</strong>
  {% endif %}
 </div>
{% endblock %}