
{% load static %}
{% load i18n %}
{% load user_tags %}

{% url 'registration' as reg_url %}
{% url 'two_factor:login' as login_url %}
{% url 'two_factor:setup' as setup_url %}
{% url 'logout' as logout_url %}
{% url 'secret' as secret_url %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
  
    <div class="container">
          <img src="{%static 'images/smit-logo.png' %}"class="navbar-brand"  width="123" height="58"alt="Logo" href="/camera/about">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav mr-auto">
        
        {% if request.user|has_group:"Admin"%}
          <li class="nav-item">
            <a class="nav-link text-black" href="/admin">Admin: </a>
          </li>

          <li class="nav-item"></li>
            <a class="nav-link text-danger" href="/camera/indexAdres">Adres</a>
          </li>

          <li class="nav-item"></li>
            <a class="nav-link text-danger" href="/camera/indexBedrijf">Bedrijf</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-danger" href="/camera/indexGebied">Gebied</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-danger" href="/camera/indexLocatie">Locatie</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link text-danger" href="/camera/indexCamera">Camera</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-danger" href="/camera/indexVideo">Video</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-danger" href="/camera/indexOrder">Order</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link text-danger" href="/camera/indexActies">Actie</a>
          </li>
        {% else %}

          {% if request.user|has_group:"Stadgenoot"%}
          <li class="nav-item">
            <a class="nav-link text-dark" href="/camera/about">SG: </a>
          </li>
           {% endif %}

          {% if request.user|has_group:"Berkhout"%}
          <li class="nav-item">
            <a class="nav-link text-dark" href="/camera/about">Berkhout: </a>
            </li>
          {% endif %}

          {% if request.user|has_group:"Smit"%}
            <li class="nav-item">
              <a class="nav-link text-dark" href="/camera/about">Smit: </a>
            </li>
           {% endif %}    

            {% if perms.camera.view_video %}
              <li class="nav-item">
                <a class="nav-link text-white" href="/camera/indexUserVideo">Video</a>
              </li>
            {% endif %}
              
            {% if perms.camera.view_serviceorder %}
            <li class="nav-item">
              <a class="nav-link text-white" href="/camera/indexUserOrder">Order</a>
            </li>
            {% endif %}   
         </ul>
        {% endif %}
        {% endif %}
          <ul class="navbar-nav mlrauto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/camera/about">Over</a>
            </li> 
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-dark">{{ user }} {% if user.otp_device %}🔒{% endif %}</a>
              </li>
              <li class="nav-item mr-auto">
                <a class="nav-link text-dark" href="{{ logout_url }}">Logout</a>
              </li>

              {% if request.user|has_group:"Admin"%}
                <li class="nav-item">
                    <a class="nav-link text-dark"  href="{{ reg_url }}">Register</a> 
                </li>
              {% endif %}
                    
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'two_factor:login' %}">{% trans "Login" %}</a>
              </li>
          </ul>
          {% endif %}
        </div>
      </div>
  </nav>