{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}

{% if request.user|has_group:"Admin"%}

<h2 class='container-fluid smit-h2'>Camera</h2>

<ul>
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allCamera">Alle cameras</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamCamera">Zoek op naam</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/zLocatieCamera">Zoek op locatie</a>
  </div>

  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/createCamera">Voeg camera toe</a>
  </div>
  <hr>
</ul>
{% endif %}
{% endblock %}