{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}
<h2 class='container-fluid smit-h2-center'>Order Sectie</h2>
<hr>
{% if request.user|has_group:"Stadgenoot" %}
    <div class="nav-index">
          <a class="nav-index" href="/camera/allOrderStadgenoot">Alle Orders</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zNrOrderStadgenoot">Zoek op Service Order</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zContactOrderStadgenoot">Zoek op Contact</a>
    </div>
{% endif %}
{% if request.user|has_group:"Berkhout" %}
    <div class="nav-index">
          <a class="nav-index" href="/camera/allOrderBerkhout">Alle Orders</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zNrOrderBerkhout">Zoek op Service Order</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zContactOrderBerkhout">Zoek op Contact</a>
    </div>
{% endif %}
{% if request.user|has_group:"Smit" %}
    <div class="nav-index">
          <a class="nav-index" href="/camera/allOrderSmit">Alle Orders</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zNrOrderSmit">Zoek op Service Order</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zContactOrderSmit">Zoek op Contact</a>
    </div>
{% endif %}
{% endblock %}