{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>Video</h2>
<ul>

  <div class="nav-index">
    <a class="nav-index" href="/camera/createVideo">Add Video</a>
  </div>
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/camera/allVideo">All Videos</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zOrderVideo">Search on Service Order</a>
</div>
  <div class="nav-index">
      <a class="nav-index" href="/camera/zNaamVideo">Seach on Name</a>
  </div>
  <hr> 
</ul>
{% endblock %}