{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container-fluid smit-h2'>Video</h2>
<hr>
<ul>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allVideo">Alle video's</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamVideo">Zoek op naam</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zOrderVideo">Zoek op Service Order Nummer</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zCameraVideo">Zoek op Camera</a>
  </div>

  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/allVideoThuis">Berkhout Video's</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/allVideoThuis">Smit Video's</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/allVideoStadgenoot">Stadgenoot Video's</a>
  </div>
  <!--
  <div class="nav-index">
    <a class="nav-index" href="/camera/zLocatieVideo">Zoek op Locatie</a>
  </div>
  -->
  <hr> 
  <div class="nav-index">
    <a class="nav-index" href="/camera/createVideo">Voeg video toe</a>
  </div>
  <hr> 
</ul>
{% endblock %}