{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}
<h2 class='container-fluid smit-h2-center'>Order Sectie</h2>
<hr>
{% if request.user|has_group:"Stadgenoot" %}
    <div class="nav-index">
          <a class="nav-index" href="/camera/allOrderStadgenoot">Alle Orders</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zOrderStadgenootNr">Zoek op Service Order</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zOrderStadgenootContact">Zoek op Contact</a>
    </div>
{% endif %}
{% if request.user|has_group:"Berkhout" %}
    <div class="nav-index">
          <a class="nav-index" href="/camera/allOrderBerkhout">Alle Orders</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zOrderBerkhoutNr">Zoek op Service Order</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zCOrderBerkhoutContact">Zoek op Contact</a>
    </div>
{% endif %}
{% if request.user|has_group:"Smit" %}
    <div class="nav-index">
          <a class="nav-index" href="/camera/allOrderSmit">Alle Orders</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/OrderSmitNr">Zoek op Service Order</a>
    </div>
    <div class="nav-index">
        <a class="nav-index" href="/camera/zOrderSmitContact">Zoek op Contact</a>
    </div>
{% endif %}
{% endblock %}