{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}

<h2 class='container-fluid smit-h2'>Acties</h2>
<ul>
<hr>
  <div class="nav-index">
     <a class="nav-index" href="/camera/actieGetVideoLocation">Toon Video Locatie</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieDisplayConversionStatus">Toon Huidige Conversie Status</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieToggleConversionStatus">Verander de Conversie Status</a>
  </div> 
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieSendMail">Sent a testmail</a>
  </div> 
  
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieListVideo">List nieuwe video's</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieConvertVideo">Converteer de  video's</a>
  </div>
 
  <!--
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieConvertVideoOrder">Converteer Video's met Service Order Nummer</a>
  </div>
-->
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieAddVideo">Test -> Voeg video toe aan DB</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/actieInsertConvertedVideos">Voeg Geconverteerde videos toe aan DB</a>
  </div>

<!--
  <div class="nav-index">
      <a class="nav-index" href="/smit/VerkoopTicket">Verkoop Overzicht</a>
  </div>

  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/smit/sNaamBand">Zoek op Naam</a>
  </div>
  <div class="nav-Index">
      <a class="nav-index" href="/smit/sGenreBand">Zoek op Genre</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/smit/sAantalLedenBand">Zoek op Aantal leden</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/smit/sBedragBand">Zoek op Gage bedrag</a>
  </div>
    -->
  <hr>
</ul>
{% endblock %}