{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}

{% if request.user|has_group:"Admin"%}
<h2 class='container-fluid smit-h2'>Video</h2>
<ul>
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allVideo">Alle video's</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamVideo">Zoek op naam</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamVideoStad">Zoek op Naam Stadgenoot</a>
</div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zOrderVideo">Zoek op Service Order Nummer</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zCameraVideo">Zoek op Camera</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zLocatieVideo">Zoek op Locatie</a>
  </div>
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/allVideoStadgenoot">Stadgenoot</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/allVideoBerkhout">Berkhout</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/allVideoSmit">Smit</a>
  </div>
  <!--
  <div class="nav-index">
    <a class="nav-index" href="/camera/zLocatieVideo">Zoek op Locatie</a>
  </div>
  -->
  <hr> 
  <div class="nav-index">
    <a class="nav-index" href="/camera/createVideo">Voeg video toe</a>
  </div>
  <hr> 
</ul>
{% endif %}
{% endblock %}