{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>User</h2>
<ul>
  
  <div class="nav-index">
    <a class="nav-index" href="/camera/createGebruiker">Add User</a>
  </div>
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/camera/allGebruiker">All Users</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamGebruiker">Search on Name</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamGebruiker">Display per Kind</a>
  </div>
  <hr>
  <hr>
</ul>
{% endblock %}