{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>Aktions</h2>
<ul>

<hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/aktionDisplayConversionStatus">Display Conversion Status</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/aktionGetVideoLocation">Get Video Location</a>
  </div>

  <br>
  <br>


  <div class="nav-index">
    <a class="nav-index" href="/camera/aktionConvertVideo">Convert Video's</a>
  </div>

<!--
  <div class="nav-index">
      <a class="nav-index" href="/smit/VerkoopTicket">Verkoop Overzicht</a>
  </div>

  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/smit/sNaamBand">Zoek op Naam</a>
  </div>
  <div class="nav-Index">
      <a class="nav-index" href="/smit/sGenreBand">Zoek op Genre</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/smit/sAantalLedenBand">Zoek op Aantal leden</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/smit/sBedragBand">Zoek op Gage bedrag</a>
  </div>
    -->
  <hr>
</ul>
{% endblock %}