{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>Company</h2>
<ul>
  <div class="nav-index">
    <a class="nav-index" href="/camera/createBedrijf">Add Company</a>
  </div>
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/camera/allBedrijf">All Companies</a>
  </div>
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/camera/zNaamBedrijf">Search on Name</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zPlaatsBedrijf">Search on City</a>
</div>
  <hr>
</ul>
{% endblock %}
