{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}

{% if request.user|has_group:"Admin"%}
{% csrf_token %}
<h2 class='container-fluid smit-h2'>Bedrijf</h2>
<hr>
<ul>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allBedrijf">Alle Bedrijven</a>
  </div>
  <div class="nav-index">
      <a class="nav-index" href="/camera/zNaamBedrijf">Zoek op naam</a>
  </div>
  <!-- 
  <div class="nav-index">
       <a class="nav-index" href="/camera/zPlaatsBedrijf">Zoek op plaats</a>
  </div>
  -->
  
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/createBedrijf">Voeg bedrijf toe</a>
  </div>

</ul>
<hr>
{% endif %}
{% endblock %}
