{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}

<h2 class='container-fluid smit-h2'>Adres</h2>
<ul>
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allAdress">Alle adressen</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamAdress">Zoek op Naam</a>
</div>
  <hr> 
  <div class="nav-index">
    <a class="nav-index" href="/camera/createAdress">Voeg adres toe</a>
  </div>
  <hr>
</ul>
{% endblock %}
