{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>Gebruiker</h2>
<ul>
  
  <div class="nav-index">
    <a class="nav-index" href="/camera/createGebruiker">Toevoegen</a>
  </div>
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/camera/allGebruiker">Alle Gebruikers</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamGebruiker">Zoek op Naam</a>
  </div>
  <hr>
</ul>
{% endblock %}