{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
{% load user_tags %}

{% if request.user|has_group:"Admin"%}

<h2 class='container-fluid smit-h2'>Gebruiker</h2>
<ul>
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/camera/allGebruiker">Alle gebruikers</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamGebruiker">Zoek op naam</a>
  </div>
  <div class="nav-index">
    <a class="nav-index" href="/camera/zNaamGebruiker">Zoek op Soort</a>
  </div>
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/camera/createGebruiker">Voeg gebruiker toe</a>
  </div>
  <br>

  <div class="nav-index">
    <a class="nav-index text-danger" href="/admin">Admin sectie</a>
  </div>
  <hr>
</ul>
{% endif %}
{% endblock %}