{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% load static %}
{% block content %}
{% csrf_token %}

<!--
<h3>Naam       ->  {{item.naam}} </h3>
<h3>Link url   ->  {{item.video_link}} </h3>
-->


<!--
<video 
  id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="320"
    height="240"
    data-setup="{}"controls>
  <source src="{%static 'images/bunnysmall.mp4' %}" type="video/mp4">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video</a
    >
  </p>
</video>


<video width="320" height="240" controls>
  <source src="{%static 'images/nolen.mp4' %}" type="video/mp4">
   Your browser does not support the video tag.
</video>


<video width="320" height="240" controls>
  <source src="{{ item.video_link.url }}" type="video/mp4">
   Your browser does not support the video tag.
</video>
-->
<div class="d-flex justify-content-center">
  <video 
    id="my-video" 
    class="video-js" 
    muted
    playbackRates: [0.5, 1, 2, 3, 4]
    controls preload="auto"
    width="640" height="480" 
    data-setup="{}">
    <source src="{{ item.video_link.url }}"  type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<div class="d-flex justify-content-center"></div>
  <h3>{{item.naam}} </h3>
  <h3> {{item.camera.plaats}} </h3>
  <h3> {{item.camera.locatie.naam}} </h3>
  <h3> {{item.opname_van}} </h3>
</div>

<!--
<video 
    id="my-video"
    muted
    class="video-js"
    controls
    preload="auto"
    width="320"
    height="240"
    poster="{{ video.video_image.url }}" 
    data-setup="{}" width="320" height="240" controls>
    <source src="{{ item.video_link.url }}" type="video/mp4">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video</a
    >
  </p>
</video>
--->

<!---
<video 
    id="my-video"
    muted
    class="video-js"
    controls
    preload="auto"
    width="320"
    height="240"
    liveui
    playbackRates: [0.5, 1, 1.5, 2]
    poster="{{ video.video_image.url }}" 
    data-setup="{}" width="320" height="240" controls>
    <source src="{{ item.video_link.url }}" type="video/mp4">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video</a
    >
  </p>
</video>
-->

<!--
<script>
  // Initialize the video player
  var player = videojs('my-video');

  // Add event listener for seeking
  player.on('seeking', function() {
    console.log('User is seeking to:', player.currentTime());
  });
</script>
-->

{% endblock %}