{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% load static %}
{% block content %}

<hr>
<div class="ro">
  
  <div class="col-4">
    <!--- <video controls width="640" height="480"> -->
    <!-- <video controls autoplay width="640" height="480" onseeking="alert('Seek operation began!')"></video>> -->
    
     <video controls src="{% static 'video/' %}{{video.video_link}}" type="video/mp4" width="640" height="480"> 
      <p>This is fallback content to display for user agents that do not support the video tag.</p>
     </video>
     <!---
     <video controls autoplay src="{% static 'video/' %}{{video.video_link}}" type="video/mp4" width="640" height="480" onseeking="alert('Seek operation began!')">
     -->
    <!-- <source src="{%static 'video/Video264.mp4' %}" type="video/mp4"> -->
    
  </div>
  a
  <!-- 16:9 aspect ratio  
  <div class="embed-responsive embed-responsive-16by9" >
     <iframe class="embed-responsive-item" src="{% static 'video/' %}{{video.video_link}}" type="video/mp4" width="640 height="480" controls></iframe>
  </div>

  <div class="ratio ratio-16x9">
    <iframe src="{% static 'video/' %}{{video.video_link}}"  title="{video.video_link}}" allowfullscreen></iframe>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
  </div>
  <div class="col-2">
      {{video.naam}}
  </div>
-->

  <hr>
  <div class="col-4 align-middle">   
      <!-- {{video.video_link}} --->
      <h4> Play {% static 'video/' %}{{video.video_link}} </h4>
  </div>
</div>
<!-- embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" target="{%static 'video/Video265.mp4' %}" / --> 
<hr>

{% endblock %}