{% extends 'base.html' %}
{% load static %}
{% block head_title %} {% endblock %}
{% block content %}
<div class="privacy-h1" >Privacybeleid</div>
<br>
<p>Ons website-adres is: https://sgportal.smitelektrotechniek.nl.</p>
<br>
<div class="privacy-h1">Welke persoonlijke gegevens we verzamelen en waarom we die verzamelen</div>
   
<div class="privacy-h1">Reacties</div>
<p>Als bezoekers reacties achterlaten op de site, verzamelen we de data getoond in het reactieformulier en ook het IP-adres van de bezoeker en de browser gebruikersagent string om spam opsporing te helpen.</p>
<p>Een geanonimiseerde string, gemaakt op basis van je e-mailadres (dit wordt ook een hash genoemd) kan worden gestuurd naar de Gravatar service indien je dit gebruikt. De privacybeleidspagina kun je hier vinden: https://automattic.com/privacy/. Nadat je reactie is goedgekeurd, is je profielfoto publiekelijk zichtbaar in de context van je reactie.</p>

<div class="privacy-h1">Media</div>
<p>Als je een geregistreerde gebruiker bent en afbeeldingen naar de site upload, moet je voorkomen dat je afbeeldingen upload met daarin EXIF GPS locatie gegevens. Bezoekers van de website kunnen de afbeeldingen van de website downloaden en de locatiegegevens inzien.</p>

    <div class="privacy-h1">Contactformulieren</div>
    <div class="privacy-h1">Cookies</div>
    <p>Wanneer je een reactie achterlaat op onze site, kun je aangeven of we je naam, je e-mailadres en website in een cookie opgeslagen mogen worden. Dit doen we voor jouw gemak zodat je deze gegevens niet opnieuw hoeft in te vullen voor een nieuwe reactie. Deze cookies zijn een jaar lang geldig.</p>
    <p>Indien je een account hebt en je logt in op deze site, slaan we een tijdelijk cookie op om te bepalen of jouw browser cookies accepteert. Dit cookie bevat geen persoonlijke data en wordt weggegooid zodra je je browser sluit.</p>
    <p>Zodra je inlogt, zullen we enkele cookies bewaren in verband met jouw login informatie en schermweergave opties. Login cookies zijn 2 dagen geldig en cookies voor schermweergave opties 1 jaar. Als je &#8220;Herinner mij&#8221; selecteert, wordt je login 2 weken bewaart. Zodra je uitlogt van jouw account, worden login cookies verwijderd.</p>
    <p>Wanneer je een bericht wijzigt of publiceert wordt een aanvullende cookie door je browser opgeslagen. Deze cookie bevat geen persoonlijke data en heeft enkel het post ID van het artikel wat je hebt bewerkt in zich. Deze cookie is na een dag verlopen.</p>

    <div class="privacy-h1">Ingesloten inhoud van andere websites</div>
    <p>Berichten op deze site kunnen ingesloten (embedded) inhoud tonen. Bijvoorbeeld video&#8217;s, afbeeldingen, berichten). Ingesloten inhoud van andere websites gedraagd zich exact hetzelfde als alsof de bezoeker deze andere heeft website bezocht.</p>
    <p>Deze websites kunnen data over jou verzamelen, cookies gebruiken, tracking van derde partijen insluiten en je interactie met deze ingesloten inhoud monitoren, inclusief de interactie met ingesloten inhoud als je een account hebt en ingelogd bent op die website.</p>

    <div class="privacy-h1">Analytics</div>
    <div class="privacy-h1">Met wie we jouw data delen</div>
    <div class="privacy-h1">Hoe lang we jouw data bewaren</div>
    <p>Wanneer je een reactie achterlaat dan wordt die reactie en de metadata van die reactie voor altijd bewaard. Op deze manier kunnen we vervolgreacties automatisch herkennen en goedkeuren in plaats van dat we ze moeten modereren.</p>
    <p>Voor gebruikers die geregistreerd op onze website (indien van toepassing), bewaren we ook persoonlijke informatie in hun gebruikersprofiel. Alle gebruikers kunnen hun persoonlijke informatie bekijken, wijzigen of verwijderen op ieder moment (de gebruikersnaam kan niet gewijzigd worden). Website beheerders kunnen deze informatie ook bekijken en wijzigen.</p>
    
    <div class="privacy-h1">Welke rechten je hebt over je data</div>    
    <p>Als je een account hebt op deze site of je hebt reacties achter gelaten, kan je verzoeken om een exportbestand van je persoonlijke data die we van je hebben, inclusief alle data die je ons opgegeven hebt. Je kan ook verzoeken dat we enige persoonlijke data die we van je hebben verwijderen. Dit bevat geen data die we verplicht moeten bewaren in verband met administratieve, wettelijke of beveiligings doeleinden.</p>
    <div class="privacy-h1">Waar we jouw data naartoe sturen</div>
    <p>Reacties van bezoekers kunnen door een geautomatiseerde spamdetectie service geleid worden.</p>

    <div class="privacy-h1">Jouw contactinformatie</div>
    <div class="privacy-h1">Aanvullende informatie</div>
    <div class="privacy-h1">Hoe we jouw data beveiligen</div>
    <div class="privacy-h1">Welke datalek procedures we geïmplementeerd hebben</div>
    <div class="privacy-h1">Van welke derde partijen we data ontvangen</div>
    <div class="privacy-h1">Wat voor geautomatiseerde besluiten we nemen en profilering we doen met gebruikersgegevens</div>
    <div class="privacy-h1">Openbaarmakingsverplichtingen van de industrie</div>
</div>
{% endblock %}