{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}

<form action="/camera/zLocatieCameraUser" method="GET">
  <div class="row form-inline">
    
    <div class="col-2">
      <h3>Camera</h3> 
    </div>

    <div class="form-group col-2">
      <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Locatie">
    </div>

    <div class="form-group col-1">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>
    
    <div class="form-group col-1">
      <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
    </div>
  </div>
</form>

  {% if query %}
  <table class="table table-hover table-sm">
    <thead class="smit-header">
      <tr>
        <!-- <th scope="col">#</td> -->
          <th scope="col">Locatie</th>
          <th scope="col">Naam</th>
          <th scope="col">Type</th>
          <th scope="col">Plaats</th>
          <th scope="col">Instalatie</th>
          <th scope="col">Gps</th>
        </tr>
    </thead>
    {% if page_obj %}
    <tbody>
      {% for camera in page_obj %}
      <tr class="smit-line">
         <td> {{camera.locatie.naam}} </td>
         <td> {{camera.naam}} </td>
         <td> {{camera.type}} </td>
         <td> {{camera.plaats}} </td>
         <td> {{camera.datum_geplaatst}} </td> 
         <td> {{camera.gps_locatie}} </td>   
    
        </tr>
      </tbody>
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}