{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}

<form action="." method="GET">
  <div class="row form-inline">
    
    <div class="col-2">
      <h3>Gebruiker</h3> 
    </div>

    <div class="form-group col-2">
      <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Naam">
    </div>

    <div class="form-group col-1">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>
    
    <div class="form-group col-1">
      <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
    </div>

    <!---
    <div class="col-1">
      <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="/camera/indexGebruiker">
    </div>
  -->

  </div>
</form>
<hr>
{% if query %}
<table class="table table-hover table-sm">
  <thead class="smit-header">
    <tr>
      <!-- <th scope="col">#</td> -->
      <th scope="col">Naam</td>
      <th scope="col">User</td>
      <th scope="col">Email</td>
      <th scope="col">Telefoon</td>
      <th scope="col">Bedrijf</td>
      <th scope="col">Akties</td>
    </tr>
  </thead>
  <!--- <h3>Resultaat for "{{ query|escape }}":</h3> --->
  {% if results %}
  <tbody>
    {% for gebruiker in results %}
    <tr class="smit-line">
       <!-- <th scope="row">{{contact.id}}</td> -->
       <td> {{gebruiker.naam}} </td>
       <td> {{gebruiker.user}} </td>
       <td> {{gebruiker.email}} </td>
       <td> {{gebruiker.telefoon}} </td>
       <td> {{gebruiker.bedrijf.naam}} </td>
       <td><a class="btn btn-sm btn-info" href="{% url 'editGebruiker' gebruiker.id %}">Edit</a></td>
       <td><a class="btn btn-sm btn-danger" href="{% url 'deleteGebruiker' gebruiker.id %}">Delete</a></td>
    </tr>

    </tbody> 
   {% endfor %}
  </table>
  {% else %}
    <p>Niks gevonden</p>
  {% endif %}
{% endif %}
{% endblock %}