{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}

<form action="." method="GET">
  <div class="row form-inline">
    
    <div class="col-2">
      <h3>Video</h3> 
    </div>

    <div class="form-group col-2">
      <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Servive Order Nummer">
    </div>

    <div class="form-group col-1">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>
    
    <div class="form-group col-1">
      <div class="alert-md alert-dark" role="alert"> {{aantal}} </div>
    </div>

    <!---
    <div class="col-1">
      <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="/camera/indexGebruiker">
    </div>
  -->

  </div>
</form>

{% if query %}
  <table class="table">
    <thead class="text-primary" >
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Naam</th>
        <th scope="col">Camera</th>
        <th scope="col">Locatie</th>
        <th scope="col">Plaats</th>
        <th scope="col">Opname van</th>
        <th scope="col">Opname tot</th>
        <th scope="col">Acties</th>
      </tr>
    </thead>
    {% if psge_obj %}
    <tbody>
      {% for video in page_obj %}
         <th> {{video.ordernr}} </th>
         <th> {{video.naam}} </th>
         <th> {{video.camera.naam}} </th>
         <th> {{video.camera.locatie.naam}} </th>
         <th> {{video.camera.plaats}} </th>
         <th> {{video.opname_van}} </th>
         <th> {{video.opname_tot}} </th>
         <th><a class="btn btn-sm btn-success" href="{% url 'playVideo' video.id %}">Play</a></th>
         <!--<th><a class="btn btn-sm btn-secondary" href="{% url 'downloadVideo' video.id %}">Download</a></th> -->
         <!--<th><a class="btn btn-sm btn-primary" href="{% url 'convertVideo' video.id %}">Convert</a></th> -->
         <th><a class="btn btn-sm btn-info" href="{% url 'editVideo' video.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteVideo' video.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; eerste</a>
              <a href="?page={{ page_obj.previous_page_number }}">vorige</a>
          {% endif %}
  
          <span class="current">
              Pagina {{ page_obj.number }} van {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">volgende</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">laatste &raquo;</a>
          {% endif %}
      </span>
    </div>
    
    {% else %}
      <strong>Er zijn geen entries</strong>
    {% endif %}
{% endif %}
{% endblock %}